@import url('https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css');
@import url('./owl.carousel.min.css');
/*common*/
@import "distributor/common";
/*common*/

/*header*/
@import "distributor/header";
/*header*/

/*hero*/
@import "distributor/hero";
/*hero*/

/*inner Hero*/
@import "distributor/inner_hero";
/*inner Hero*/

/*Why choose us*/
@import "distributor/why_choose_us";
/*Why choose us*/


/*service section*/
@import "distributor/services";
/*service section*/

/*Marketing*/
@import "distributor/marketing";
/*Marketing*/

/*Video*/
@import "distributor/video";
/*Video*/

/*Brands*/
@import "distributor/brands";
/*Brands*/

/*Blogs*/
@import "distributor/blogs";
/*Blogs*/

/*testimonials*/
@import "distributor/testimonial";
/*testimonials*/

/*About*/
@import "distributor/about";
/*About*/

/*maximize result*/
@import "distributor/maximize";
/*maximize result*/

/*team*/
@import "distributor/team";
/*team*/

/*contact*/
@import "distributor/contact";
/*contact*/

/*reviews*/
@import "distributor/reviews";
/*reviews*/

/*portfolio*/
@import "distributor/portfolio";
/*portfolio*/

/*portfolio Details*/
@import "distributor/portfolioDetailsArea";
/*portfolio Details*/

/*footer*/
@import "distributor/footer";
/*footer*/